# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment folders
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode and other IDE settings
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
